<div>

    <div class="card form">
        <h5>Anagrafica</h5>
        <p-tabView orientation="left">
            <p-tabPanel header="Dati anagrafici" class="line-height-3 m-0">
                <ng-container [formGroup]="form">
                    <div class="field grid col-12 md:col-12">
                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Nome</label>
                            <div class="col-12 md:col-12">
                                <input readonly formControlName="name" pInputText type="text" />
                            </div>
                        </div>

                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Cognome</label>
                            <div class="col-12 md:col-12">
                                <input formControlName="surname" pInputText type="text" />

                            </div>
                        </div>
                    </div>

                    <div class="field grid col-12 md:col-12">
                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Codice fiscale</label>
                            <div class="col-12 md:col-12">
                                <input readonly formControlName="codice_fiscale" pInputText type="text" />
                            </div>
                        </div>

                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Indirizzo</label>
                            <div class="col-12 md:col-12">
                                <input formControlName="indirizzo" pInputText type="text" />

                            </div>
                        </div>
                    </div>

                    <div class="field grid col-12 md:col-12">
                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Civico</label>
                            <div class="col-12 md:col-12">
                                <input readonly formControlName="civico" pInputText type="text" />
                            </div>
                        </div>

                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Comune</label>
                            <div class="col-12 md:col-12">
                                <input formControlName="comune" pInputText type="text" />

                            </div>
                        </div>
                    </div>

                    <div class="field grid col-12 md:col-12">
                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">CAP</label>
                            <div class="col-12 md:col-12">
                                <input readonly formControlName="CAP" pInputText type="text" />
                            </div>
                        </div>

                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Provincia</label>
                            <div class="col-12 md:col-12">
                                <input formControlName="provincia" pInputText type="text" />

                            </div>
                        </div>
                    </div>

                    <div class="field grid col-12 md:col-12">
                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Data di nascita</label>
                            <div class="col-12 md:col-12">
                                <input readonly formControlName="data_nascita" pInputText type="text" />
                            </div>
                        </div>

                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Email</label>
                            <div class="col-12 md:col-12">
                                <input formControlName="email" pInputText type="text" />

                            </div>
                        </div>
                    </div>

                    <div class="field grid col-12 md:col-12">
                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Telefono</label>
                            <div class="col-12 md:col-12">
                                <input readonly formControlName="phone" pInputText type="text" />
                            </div>
                        </div>
                    </div>
                </ng-container>

            </p-tabPanel>
            <p-tabPanel header="Percorso" class="line-height-3 m-0">
                <ng-container [formGroup]="form">
                    <div class="field col-6 md:col-6">
                        <label class="col-12 md:col-12" htmlFor="name3">Categoria</label>
                        <div class="col-12 md:col-12">
                            <input formControlName="category" pInputText type="text" />

                        </div>
                    </div>

                    <div class="field grid col-12 md:col-12">
                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">In cura da</label>
                            <div class="col-12 md:col-12">

                            </div>
                        </div>

                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Ultima visita</label>
                            <div class="col-12 md:col-12">

                            </div>
                        </div>
                    </div>

                    <div class="field grid col-12 md:col-12">
                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Monitoriaggio attivo</label>
                            <div class="col-12 md:col-12">
                                <input readonly formControlName="monitoring" pInputText type="text" />
                            </div>
                        </div>

                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Prossimo contatto</label>
                            <div class="col-12 md:col-12">
                                <p-calendar formControlName="next"></p-calendar>
                            </div>
                        </div>
                    </div>

                    <div class="field grid col-12 md:col-12">
                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Da ricontattare urgentemente</label>
                            <div class="col-12 md:col-12">
                                <input readonly formControlName="urgente" pInputText type="text" />
                            </div>
                        </div>

                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Motivo urgenza</label>
                            <div class="col-12 md:col-12">
                                <input formControlName="urgency" pInputText type="text" />

                            </div>
                        </div>
                    </div>
                </ng-container>
            </p-tabPanel>
            <p-tabPanel header="Monitoraggio" class="line-height-3 m-0">

                <ng-container [formGroup]="form">
                    <div class="field grid col-12 md:col-12">
                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Messaggio della prossima email</label>
                            <div class="col-12 md:col-12">
                                <input readonly formControlName="message" pInputText type="text" />
                            </div>
                        </div>

                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Note personali</label>
                            <div class="col-12 md:col-12">
                                <input formControlName="note" pInputText type="text" />

                            </div>
                        </div>
                    </div>

                    <div class="field grid col-12 md:col-12">
                        <div class="field col-6 md:col-6">
                            <label class="col-12 md:col-12" htmlFor="name3">Punteggio medio dei questionari</label>
                            <div class="col-12 md:col-12">
                                <input readonly formControlName="score" pInputText type="text" />
                            </div>
                        </div>

                        <div class="field col-6 md:col-6">

                        </div>
                    </div>
                </ng-container>
            </p-tabPanel>
        </p-tabView>
    </div>

</div>